body {
  width: 100%;
  height: 100vh;
  margin: 0;
}

#root {
  width: 100%;
  height: 100vh;
}

ul {
  list-style: none;
  padding-left: 0px;

  background-color: #FFFFFF;
  &.odd {
    background-color: #F4F4F4;
  }
}

li {
  cursor: pointer;

  li {
    margin-left: 20px;
  }
}

